// Post SCSS for the theme.

.navbar-brand {
  padding-top: 0;
}

@media(min-width: 768px) {
  .asubird {
    float: right;
  }
}

.usermenu {
  .login {
    a {
      color: $asu-gold !important;
    }
  }
    
  a .userbutton, 
  a.dropdown-toggle::after {
    color: $asu-gold !important;
  }
}
