// Post SCSS for the theme.

.navbar-brand {
  padding-top: .15rem;
}

@media(min-width: 768px) {
  .asubird {
    float: right;
  }
}

.idpform .form-control {
  display: initial;
  width: initial;
}
